
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ECEEF1;
}

a{
    color: #0077C5;
    text-decoration: none;
}